/* You can add global styles to this file, and also import other style files */
* {
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chrome, etc */
}
